<%= error_messages_for 'entry' %>

<!--[form:entry]-->
<p><label for="entry_item_type">Item type</label><br/>
<%= text_field 'entry', 'item_type'  %></p>

<p><label for="entry_created_on">Created on</label><br/>
<%= date_select 'entry', 'created_on'  %></p>
<!--[eoform:entry]-->

